/* mouse scroll */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(4, 170, 109, 1);
}

/* end mouse scroll */

body {
    font-family: 'Quicksand', sans-serif;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

:focus {
    background-color: rgba(117, 217, 130, 0.5);
    outline: none;
}

/* link */

a {
    color: rgba(207, 19, 19, 1);
}

a:hover {
    color: rgba(207, 19, 19, 1);
    text-decoration: underline;
}

a:active {
    color: rgba(207, 19, 19, 1);
}

a:focus {
    color: rgba(207, 19, 19, 1);
}

/* end link */

/* div with img bg */

.content-w-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 58px);
}

.content-w-bg {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 50%;
    left: 0%;
    right: 0;
    text-align: center;
    padding: 10px;
}

.content-w-bg-text {
    max-width: 1000px;
    margin: 0 auto;
}

/* end div with img bg */

/* navbar */

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 25px;
    padding-right: 25px;
    margin: 0!important;
}

.navbar, .nav-link {
    color: rgba(207, 19, 19, 1);
    text-align: center;
    margin: 0 20px;
}

.navbar .nav-link:hover {
    color: rgba(207, 19, 19, 1);
}

.navbar .nav-link:focus {
    color: rgba(207, 19, 19, 1);
}

.navbar .nav-link:active {
    color: rgba(207, 19, 19, 1);
}

#navbarNav {
    display: flex;
    justify-content: center;
}

/* end navbar */

/* body content */

.content {
    display: flex;
    justify-content: space-evenly;
}

.bg-green {
    background-color: rgba(4, 170, 109, 1);
    width: 100%;
}

.bg-brown {
    background-color: rgba(168, 88, 13, 1);
    width: 100%;
}

/* end body content */

/* footer */

footer {
    max-width: 750px;
    margin: 30px auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-link{
    text-decoration: none;
}

/* end footer */

/* side images */
.side-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

#tax {
    background-image: url('../../images/pexels-nataliya-vaitkevich-8927688.jpg'); /* Photo by Nataliya Vaitkevich from Pexels */
    height: 800px;
}

#service {
    background-image: url('../../images/pexels-pixabay-209224.jpg'); /* Photo by Pixabay from Pexels */
}

#about {
    background-image: url('../../images/pexels-monstera-9429448.jpg'); /* Photo by Monstera from Pexels */
}

@media screen and (max-width: 987px) {
    .side-img {
        height: 200px;
        object-fit: cover;
    }
    #tax {
        height: 200px;
    }
    
}
@media screen and (max-width: 656px) {
    .background-img {
        height: calc(100vh - 80px);
    }

    .content {
        flex-direction: column;
    }

    footer {
        margin: 30px;
    }
}

@media screen and (max-width: 536px) {
    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        white-space: normal;
    }

    .background-img {
        height: calc(100vh - 82px);
    }
}

@media screen and (max-width: 471px) {
    .navbar, .nav-link {
        margin: 0;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
        font-size: 0.9em;
    }

    .footer-content {
        flex-direction: column;
    }
}